<!DOCTYPE html>
<html lang="en">

<style>
body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box;background-color: #cccccc;text-align: center;}

.button {

  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  
}

.button1 {

  background-color: red;
  color: white;
  padding: 10px 18px;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  float: right;

}


</style>

<head>
    <meta charset="UTF-8">
    <title>Turtles Phamacy</title>
    <a href="/logout" class="button1">Logout</a>

</head>
<body>
	<h3><p style="text-align:center;">Pharmacist</p></h3>
    <a href="/pharmacist/manage" class="button">Manage Inventory</a>
    <a href="/pharmacist/issue" class="button">Issue Meds</a>
    <a href="/pharmacist/issued" class="button">Issued Meds</a>
    

</body>
</html>